.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

body {
    overflow-x: hidden;
}
main {
    padding-bottom: 2rem;
    min-height:70vh;
}
.footer {
    padding: 1.5rem 0 1rem 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: .05rem solid #e5e5e5;
}

.footer a {
    color:#666;
}



/* Toggle buttons style */

.btn-custom:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-custom:not(:disabled):not(.disabled):not(.active) {
    color: #777;
    background-color: #dae0e5;
    border-color: #aaa;
}




/* Sidebar and navbar stuff */
 
#sidebar-wrapper {
  /*min-height: 100vh;*/
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  padding-top: 4rem;
  width: 15rem;
}

#page-content-wrapper {
  padding-top: 5rem;
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

.list-group-item-action {
    border: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

