
.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

body {
    /*padding-top: 5rem;*/
    background-color: #eee;
}
main {
    padding: 5rem 0 3rem 0;
    background-color:#fff;
}
.footer {
    padding: 2rem;
    color: #999;
    text-align: center;
    background-color: #eee;
    /*border-top: .05rem solid #e5e5e5;*/
}

/* Toggle buttons style */
.btn-custom:not(:disabled):not(.disabled).active {
    color: #fff;
    background-color: #28a745;
    border-color: #28a745;
}
.btn-custom:not(:disabled):not(.disabled):not(.active) {
    color: #777;
    background-color: #dae0e5;
    border-color: #aaa;
}

.navbar-nav li {
    margin: 0 5px;
}

.fa {
    padding-right:0.5em;
}

.show-collapse {
    display: none;
}

.menu-entry a {
    color: black;
    font-weight: normal;
    text-decoration: none;
}
  
.menu-page {
     padding: 1em 3em;
}

.subclass-header {
    color: #000;
    text-decoration: italic;
    padding-top: 1em;
}

.config-file-namebox {
    text-align:right; 
    padding:0;
}


@media (max-width: 768px) {
    /* Responsive fonts */
    html { font-size: calc(0.8em + 1vw) }
    h1 { font-size: 2em }
    h2 { font-size: 1.5em }
    button { font-size: inherit }
    input { font-size: inherit }
    
    .navbar {
        padding: 10px 5px;
    }
    
    .navbar-nav {
        margin-right: 5%
    }
    
    .navbar-nav li {
        margin: -5px 1% ;
    }
    
    .navbar-nav ul {
        margin: 0 ;
    }
    
    .hide-collapse {
        display: none;
    }
    
    .show-collapse {
        display: unset;
    }
    
    .mynavlink-light {
        color: white;
    }
    .mynavlink-dark {
        color: black;
    }
    .navbar-nav {
        flex-direction: row;
        mmargin-right: auto !important;
    }
    
    .nav-item .btn {
        font-size:
    }
    
    .menu-page {
         padding: 1em;
    } 
    
    .advanced-button {
        margin: auto;
        margin-top: 1em;
        width: 100%;
        display: block;
    }
    
    .config-file-namebox {
        text-align:center; 
        padding:0;
    }
    
    .custom-file {
        text-align:center; 
    }
}

